body {
    background-image: url("./hintergrund/imag.jpg");
    background-repeat: inherit;
    padding: 28px;
    
}

h1 {
    text-align: center;
    text-shadow:0 0 5px #000000;
    color: white;
    font-size: 60px;
}

h2 {
    text-align: center;
    text-shadow:0 0 5px #000000;
    color: white;
    font-size: 40px;
}

p {
text-align: center;
color: white;
text-shadow:0 0 5px #000000;
font-size: 40px;
}

ul {
    font-size: 40px;
    position: absolute;
    background-color: #333;
 
}

ul a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
  }

 ul a:hover {
    background-color: #ddd;
    color: black;
  }
  
#navi {
    color: white
}

#text {
    text-align: center;
    font-size: 30px;
    position:initial;
}

#back, #back a {
    text-align: right;
    text-shadow:0 0 5px #000000;
    color: white;
    font-size: 30px;
 }

 #hinweis {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 30px;
    text-shadow:0 0 1px #000000;

}

#antwort {
    text-align: center;
    color: white;
    text-shadow:0 0 5px #000000;
    font-size: 40px;

}

#name, #form {
    text-align: center;
    font-size: 40px;
}